extends ./../../../temp/_base
prepend config-block
  - meta.description = ""
  - meta.keywords = "toyota,トヨタ自動車,トヨタ,KINTO,キント,サブスクリプション,subscription,サブスク,KINTO ONE,レクサス,lexus,フルサービスリース,リース,借りる"
  - meta.url = "https://kinto-jp.com//campaign/cp-kintocamp/"
  - meta.ogp_image_url = "https://kinto-jp.com/assets/img/pic_ogimage_002.jpg"
//-  - meta.ogp_image_url = "test"

append config-block
  - title = "KINTO CAMPE｜【KINTO】クルマのサブスク、トヨタから"

append stylesheet-block
  link(rel="stylesheet", href="/assets/style/contents/campaign/cp-kintocamp/style.css")

append javascript-block
  script(src="/assets/javascripts/contents/campaign/cp-kintocamp/app.js")

block sitemap-json
  script(type='application/ld+json').
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://kinto-jp.com/",
          "name": "ホーム"
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "https://kinto-jp.com/campaign/",
            "name": "キャンペーン"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "https://kinto-jp.com/campaign/cp-kintocamp/",
            "name": "KINTO CAMP"
          }
        }
      ]
    }
block breadcrumb-block
  ul.m-bread__list
    li
      a(href='../../') ホーム
    li
      a(href='../') キャンペーン
    li
      | KINTO CAMP

//- コンテンツ内容
block content-block
  // TODP: Hタグ見直す
  .p-kintocamp.m-conent__full
    section.p-kintocamp-mainVisual.is-kintocamp-show#top
      .p-kintocamp-mainVisual__bg
        img(src="./assets/img/bg_main.jpg" srcset="./assets/img/bg_main.jpg 1x, ./assets/img/bg_main@2x.jpg 2x" alt="KINTO CAMP")
      .p-kintocamp-mainVisual__inner
        h1.p-kintocamp-mainVisual__title
          span.p-kintocamp-mainVisual__title_camp
            include ./svg/kintcam.svg
          span.p-kintocamp-mainVisual__title_supported
            include ./svg/supported.svg
        p.p-kintocamp-mainVisual__subtitle 招待キャンペーン
        p.p-kintocamp-mainVisual__date 2020.10.24（SAT）・25（SUN）ふもとっぱらキャンプ場
    // KINTO CAMPとは？
    section.p-kintocamp-about
      .p-kintocamp-about__inner
        ul.p-kintocamp-about__anchorLink.p-kintocamp-aniFadein--defo.js-animationItem
          li.p-kintocamp-about__anchorLink_item: a.p-kintocamp-about__anchorLink_link(href="#ability")
            span KINTO CAMPアクティビティ
          li.p-kintocamp-about__anchorLink_item: a.p-kintocamp-about__anchorLink_link(href="#invitation")
            span 招待キャンペーン
          li.p-kintocamp-about__anchorLink_item: a.p-kintocamp-about__anchorLink_link(href="#access")
            span アクセス
        .p-kintocamp-block.p-kintocamp-about__block
          figure.p-kintocamp-about__image.p-kintocamp-block__image.js-animationItem.p-kintocamp-aniBorder--1
            .p-kintocamp-aniBorder--2
              img.p-kintocamp-aniBorder__inner(src="./assets/img/img_about.jpg" srcset="./assets/img/img_about.jpg 1x, ./assets/img/img_about@2x.jpg 2x" alt="KINTO CAMP")
          .p-kintocamp-about__content.p-kintocamp-block__content.js-animationItem.p-kintocamp-aniBorder--1
            .p-kintocamp-aniBorder--2
              .p-kintocamp-aniBorder__inner
                h2.p-kintocamp-about__heding KINTO CAMPとは…？
                p.p-kintocamp-about__text 初のKINTO主催キャンプイベント！抽選で30組60名様をご招待。
                p.p-kintocamp-about__text 富士山のふもと・ふもとっぱらキャンプ場の一部を貸し切り、ご招待者限定キャンプを行います。
                p.p-kintocamp-about__text 通常のキャンプ体験だけではなく、滞在中に楽しめるアクティビティをご用意！
                p.p-kintocamp-about__text クルマを持っていない方も、キャンプがはじめての方も、KINTOと一緒に“ワンランク上のキャンプ”を体験をしてみませんか？
          p.m-txt__caption ※小雨決行、荒天中止


    section.p-kintocamp-ability#ability
      .p-kintocamp__inner
        h3.p-kintocamp-ability__title.p-kintocamp__title.js-animationItem
          - var titleWords = ['K','I','N','T','O',' ','ア','ク','テ','ィ','ビ','テ','ィ']
          each word in titleWords
            span.p-kintocamp__titleWord #{word}
        .p-kintocamp-ability__block
          .p-kintocamp-ability__item.js-animationItem.p-kintocamp-aniBorder--1
            .p-kintocamp-aniBorder--2
              .p-kintocamp-aniBorder__inner
                .p-kintocamp-ability__itemImg
                  img(src="./assets/img/img_ability01.jpg" srcset="./assets/img/img_ability01.jpg 1x, ./assets/img/img_ability01@2x.jpg 2x")
                p.p-kintocamp-ability__itemText テント組み立て講座や最強のキャンプ飯講座など、キャンプ初心者でも楽しめるアクティビティをご用意！キャンプのプロが滞在中のサポートをします。
          .p-kintocamp-ability__item.js-animationItem.p-kintocamp-aniBorder--1
            .p-kintocamp-aniBorder--2
              .p-kintocamp-aniBorder__inner
                .p-kintocamp-ability__itemImg
                  img(src="./assets/img/img_ability02.jpg" srcset="./assets/img/img_ability02.jpg 1x, ./assets/img/img_ability02@2x.jpg 2x")
                p.p-kintocamp-ability__itemText ミニハイキング、スラックライン、焚火Barなど…自由時間に好きなアクティビティに参加して仲間と家族と楽しもう！

    section.p-kintocamp-invitation#invitation
      figure.p-kintocamp-invitation__backimage.js-animationItem
        img.u-show--pc(src="./assets/img/bg_invitation.jpg" srcset="./assets/img/bg_invitation.jpg 1x, ./assets/img/bg_invitation@2x.jpg 2x" alt="")
        img.u-show--sp(src="./assets/img/bg_invitation_sp.jpg" alt="")
      .p-kintocamp-invitation__background.js-animationItem
        figure.p-kintocamp-invitation__backgroundCar
          img(src="./assets/img/img_car.gif" alt="")

      .p-kintocamp__inner.p-kintocamp-invitation__overview.js-animationItem
        h3.p-kintocamp-invitation__title.p-kintocamp__title.js-animationItem
          - var titleWords = ['招','待','キ','ャ','ン','ペ','ー','ン']
          each word in titleWords
            span.p-kintocamp__titleWord #{word}
        .p-kintocamp-invitation__content
          p.p-kintocamp-invitation__overviewStrong MyKINTOにご登録いただき、アンケートに答えると、<br class="u-show--pc">抽選で30組60名様に
          p.p-kintocamp-invitation__overviewHeding <span class="p-kintocamp-invitation__overviewHedingStrong">KINTO CAMPご招待</span>が当たる！！
          p.p-kintocamp-invitation__overviewDate 応募期間：<br class="u-s-br--show--sp">2002年9月23日（水）10：00～<br class="u-s-br--show--sp">10月4日（日）23：59
      .p-kintocamp__inner.js-animationItem
        h3.p-kintocamp-invitation__heading “ワンランク上のキャンプ”を味わえる<br>KINTO CAMPへご招待
        p.p-kintocamp-invitation__text
          |以下の3コースから選んでご応募ください。<br>
          |当選者は1組大人2名様を<br class="u-s-br--show--sp">ご招待させていただきます。<br class="u-s-br--show--sp">小学生以下のお子様は保護者同伴に限り<br class="u-s-br--show--sp">参加無料です。<br>
          |中学生以上のご同伴者様は各コース規定の追加費用でご参加いただけます。<br>
          |ご同伴者様は最大3名様までと<br class="u-s-br--show--sp">させていただきます。

        .p-kintocamp-invitation__inCourse
          h4.p-kintocamp-invitation__strong すべてのコースには食事付ご招待券が含まれます！
          p.p-kintocamp-invitation__strongList ・1組大人2名様のご招待<br>・駐車料金<br>・1日目の夜および2日目の朝の食材（人数分）<br>・各種アクティビティ参加（無料）<br>・デジタルデバイスレンタル（モバイルプロジェクター、アクションカメラなど）
          p ※キャンプ飯講座にて、ご自身で調理していただきます。
    section.p-kintocamp-course
      // コースA
      .p-kintocamp-course__area.p-kintocamp-course__area--a
        .p-kintocamp__inner
          .p-kintocamp-block.p-kintocamp-course__block.js-animationItem.p-kintocamp-aniBorder--none1
            .p-kintocamp-aniBorder--none2
              .p-kintocamp-aniBorder__inner
                figure.p-kintocamp-course__image.p-kintocamp-block__image.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    img.p-kintocamp-aniBorder__inner(src="./assets/img/img_coursea.jpg" srcset="./assets/img/img_coursea.jpg 1x, ./assets/img/img_coursea@2x.jpg 2x")
                p.p-kintocamp-course__courseName
                  - var titleWords = ['コ','ー','ス','A']
                  each word in titleWords
                    span.p-kintocamp-course__courseNameWord #{word}
                .p-kintocamp-block__content.p-kintocamp-course__blockContent.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    .p-kintocamp-aniBorder__inner
                      h4.p-kintocamp-course__blockHeading
                        span.p-kintocamp-course__blockHeadingStrong レンタカー＋キャンプ用品
                        span.p-kintocamp-course__blockHeadingStrong レンタル＋食事付ご招待券
                      ul.p-kintocamp-course__blockList
                        li.p-kintocamp-course__listItem レンタカー、キャンプ用品レンタル、食事付ご招待券がセットになったコースです。
                        li.p-kintocamp-course__listItem 自動車未保有・キャンプ用品未保有の方向けのコースです。
                        li.p-kintocamp-course__listItem ご同伴者様追加料金（中学生以上）：1名につき5,000円。
                      p.p-kintocamp-course__blockNum
                        span.p-kintocamp-course__blockNumSet 5組
                        span.p-kintocamp-course__blockNumPeople 10名様
          .p-kintocamp-course__heading.js-animationItem 車両レンタル
          .p-kintocamp-course__cars
            .p-kintocamp-course__carsItem.js-animationItem.p-kintocamp-aniBorder--1
              .p-kintocamp-aniBorder--2
                .p-kintocamp-aniBorder__inner
                  figure.p-kintocamp-course__carsImage
                    img(src="./assets/img/car_voxy.png" srcset="./assets/img/car_voxy.png 1x, ./assets/img/car_voxy@2x.png 2x" alt="")
                  h5.p-kintocamp-course__carsHeading ヴォクシー<br>“MULTI UTILITY”
                  p.p-kintocamp-course__presentdby Presented by モデリスタ
              p.p-kintocamp-course__carsNum 1組様

            .p-kintocamp-course__carsItem.js-animationItem.p-kintocamp-aniBorder--1
              .p-kintocamp-aniBorder--2
                .p-kintocamp-aniBorder__inner
                  figure.p-kintocamp-course__carsImage
                    img(src="./assets/img/car_hiace.png" srcset="./assets/img/car_hiace.png 1x, ./assets/img/car_hiace@2x.png 2x" alt="")
                  h5.p-kintocamp-course__carsHeading ハイエース<br>“MULTI ROLE TRANSPORTER”
                  p.p-kintocamp-course__presentdby Presented by モデリスタ
              p.p-kintocamp-course__carsNum 1組様

            .p-kintocamp-course__carsItem.js-animationItem.p-kintocamp-aniBorder--1
              .p-kintocamp-aniBorder--2
                .p-kintocamp-aniBorder__inner
                  figure.p-kintocamp-course__carsImage
                    img(src="./assets/img/car_rav4.png" srcset="./assets/img/car_rav4.png 1x, ./assets/img/car_rav4@2x.png 2x" alt="")
                  h5.p-kintocamp-course__carsHeading RAV4
              p.p-kintocamp-course__carsNum 3組様
          ul.m-list__caption.p-kintocamp-aniFadein--defo.js-animationItem
            li ご応募は18歳以上の普通自動車免許保持者に限ります。
            li 車両レンタル・返却場所は当選された方と株式会社KINTOの当選者窓口でお打ち合わせの上決定させていただきます。
            li ガソリンは満タンで貸出しますので、ご返却前に最寄りのガソリンスタンドで給油してください。その分の費用はご負担ください。
            li 高速代・有料道路の通行料その他移動にかかる費用は自己負担となります。
            li ヴォクシーおよびハイエースには外装ラッピング＆エアロパーツが装着されています。
            li 実際の仕様とは一部異なる場合がございます。
            li ボディカラーはイメージと異なる可能性がございます。


          h3.p-kintocamp-course__heading.js-animationItem キャンプ用品
          .p-kintocamp-course__supplies.p-kintocamp-aniFadein--defo.js-animationItem
            .p-kintocamp-course__suppliesImage
              img(src="./assets/img/img_supplies.jpg" srcset="./assets/img/img_supplies.jpg 1x, ./assets/img/img_supplies@2x.jpg 2x" alt="キャンプ用品")
            .p-kintocamp-course__suppliesContent
              h5.p-kintocamp-course__suppliesHeding
                span これさえあれば、キャンプ
                span 場での宿泊ができる！
              ul.p-kintocamp-course__suppliesList
                li.p-kintocamp-course__suppliesListItem テント
                li.p-kintocamp-course__suppliesListItem タープ
                li.p-kintocamp-course__suppliesListItem テーブル
                li.p-kintocamp-course__suppliesListItem ランタン
                li.p-kintocamp-course__suppliesListItem 快眠マット
                li.p-kintocamp-course__suppliesListItem 寝袋
                li.p-kintocamp-course__suppliesListItem チェア
                li.p-kintocamp-course__suppliesListItem キャンプ飯の調理器具
          ul.m-list__caption.p-kintocamp-aniFadein--defo.js-animationItem
            li ご同伴者様分も含め、チェア、快眠マット、寝袋は人数分ご用意します。
            li 会場でのレンタル、回収となります。
            li その他必要な用品はお客様各自でご用意いただくようお願いいたします。
            li セット内容は変更になる可能性がございます。

      // コースB
      .p-kintocamp-course__area.p-kintocamp-course__area--b
        .p-kintocamp__inner
          .p-kintocamp-block.p-kintocamp-course__block.js-animationItem.p-kintocamp-aniBorder--none1
            .p-kintocamp-aniBorder--none2
              .p-kintocamp-aniBorder__inner
                figure.p-kintocamp-course__image.p-kintocamp-block__image.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    img.p-kintocamp-aniBorder__inner(src="./assets/img/img_courseb.jpg" srcset="./assets/img/img_courseb.jpg 1x, ./assets/img/img_courseb@2x.jpg 2x")
                p.p-kintocamp-course__courseName.js-animationItem
                  - var titleWords = ['コ','ー','ス','B']
                  each word in titleWords
                    span.p-kintocamp-course__courseNameWord #{word}
                .p-kintocamp-block__content.p-kintocamp-course__blockContent.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    .p-kintocamp-aniBorder__inner
                      h4.p-kintocamp-course__blockHeading
                        span.p-kintocamp-course__blockHeadingStrong キャンプ用品レンタル
                        span.p-kintocamp-course__blockHeadingStrong ＋食事付ご招待券
                      ul.p-kintocamp-course__blockList
                        li.p-kintocamp-course__listItem キャンプ用品レンタル、食事付ご招待券がセットになったコースです。
                        li.p-kintocamp-course__listItem キャンプ用品未保有者の方向けのコースです。
                        li.p-kintocamp-course__listItem ご同伴者様追加料金（中学生以上）：1名につき5,000円。
                      p.p-kintocamp-course__blockNum
                        span.p-kintocamp-course__blockNumSet 10組
                        span.p-kintocamp-course__blockNumPeople 20名様
          ul.m-list__caption.js-animationItem
            li キャンプ用品の内容はAコースと同じです。
            li キャンプ場まではご自身の車でご来場ください。

      // コースC
      .p-kintocamp-course__area.p-kintocamp-course__area--c
        .p-kintocamp__inner
          .p-kintocamp-block.p-kintocamp-course__block.js-animationItem.p-kintocamp-aniBorder--none1
            .p-kintocamp-aniBorder--none2
              .p-kintocamp-aniBorder__inner
                figure.p-kintocamp-course__image.p-kintocamp-block__image.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    img.p-kintocamp-aniBorder__inner(src="./assets/img/img_coursec.jpg" srcset="./assets/img/img_coursec.jpg 1x, ./assets/img/img_coursec@2x.jpg 2x" alt="")
                p.p-kintocamp-course__courseName
                  - var titleWords = ['コ','ー','ス','C']
                  each word in titleWords
                    span.p-kintocamp-course__courseNameWord #{word}
                .p-kintocamp-block__content.p-kintocamp-course__blockContent.p-kintocamp-aniBorder--none1
                  .p-kintocamp-aniBorder--none2
                    .p-kintocamp-aniBorder__inner
                      h4.p-kintocamp-course__blockHeading
                        span.p-kintocamp-course__blockHeadingStrong 食事付ご招待券
                      ul.p-kintocamp-course__blockList
                        li.p-kintocamp-course__listItem 食事付ご招待券をプレゼントするコースです。
                        li.p-kintocamp-course__listItem キャンプ経験者の方向けのコースです。
                        li.p-kintocamp-course__listItem ご同伴者様追加料金（中学生以上）：1名につき1,000円。
                      p.p-kintocamp-course__blockNum
                        span.p-kintocamp-course__blockNumSet 15組
                        span.p-kintocamp-course__blockNumPeople 30名様
          ul.m-list__caption.js-animationItem
            li キャンプ場まではご自身の車でご来場ください。
            li キャンプ用品はお客様各自でご用意いただくようお願いいたします。
      // プレゼント
      .p-kintocamp-course__prezent
        .p-kintocamp-course__prezent__background
          include ./svg/background_pc.svg
          include ./svg/background.svg

        .p-kintocamp__inner.p-kintocamp-course__prezent__inner
          p.p-kintocamp-course__prezent__text
            |さらに！<br>
            |応募者全員に、<br>
            |<span class="p-kintocamp-course__prezent__textStrong">オリジナルステッカー</span>をプレゼント！
          figure.p-kintocamp-course__prezent__image
            img(src="./assets/img/img_sticker.png" srcset="./assets/img/img_sticker.png 1x, ./assets/img/img_sticker@2x.png 2x" alt="ステッカーイメージ")

    section.p-kintocamp-application
      .p-kintocamp__inner
        h3.p-kintocamp-application__title.p-kintocamp__title.js-animationItem
          - var titleWords = ['応','募','方','法']
          each word in titleWords
            span.p-kintocamp__titleWord #{word}
        .p-kintocamp-application__steps.p-kintocamp-aniFadein--defo.js-animationItem
          dl.p-kintocamp-application__step
            dt.p-kintocamp-application__stepNo STEP1
            dd.p-kintocamp-application__stepText まずはKINTOメンバー登録！<br>メンバー登録画面にて、メールアドレス・パスワードをご登録いただきKINTOメンバーにご加入いただきます。<br>※登録後、確認メールが送付されますので、登録完了URLをクリックの上、メンバー登録を行ってください。
          dl.p-kintocamp-application__step
            dt.p-kintocamp-application__stepNo STEP2
            dd.p-kintocamp-application__stepText KINTOメンバー専用ページ（My KINTO）にログイン。<br>登録されたメールアドレス・パスワードでマイページにログインしてください。（TOP画面右上）<br>
          dl.p-kintocamp-application__step
            dt.p-kintocamp-application__stepNo STEP3
            dd.p-kintocamp-application__stepText KINTO CAMPのバナーをクリック。<br>
          dl.p-kintocamp-application__step
            dt.p-kintocamp-application__stepNo STEP4
            dd.p-kintocamp-application__stepText アンケートに回答して、応募する。<br>

        h4.p-kintocamp-course__heading.js-animationItem キャンペーン応募はこちらから！
        p.m-btn__wrp--center.js-animationItem
          a.m-btn__02(href="https://kinto-jp.com/customer/membership")
            span.m-btn__text メンバー登録
          a.m-btn__02(href="https://kinto-jp.com/customer/login")
            pan.m-btn__text My KINTO ログイン
        ul.m-list__caption.js-animationItem
          li 新型コロナウィルスによる移動の制限等が発生した場合、または弊社が安全を確保できないと判断した場合は、キャンペーンを中止させていただく場合がございます。KINTO特設ページ上にてお知らせをさせていただきます。
          li 台風、地震、火災、大雪などの不可抗力や天災やその他や無得ない事情によりキャンセルとなることがございます。
          li このイベントは、最大限の新型コロナウイルス対策を実施し行います。また参加にあたっては、事前の健康管理ならびにご来場時の健康チェック、感染者発生時の追跡にともなう登録を行っていただきます。
          li キャンペーン・イベント規約をご確認後同意の上、応募をお願いいたします。
    section.p-kintocamp-access#access.js-animationItem
      .p-kintocamp__inner
        h3.p-kintocamp-access__title.p-kintocamp__title.js-animationItem
          - var titleWords = ['ア','ク','セ','ス']
          each word in titleWords
            span.p-kintocamp__titleWord #{word}
        figure.p-kintocamp-access__logo.p-kintocamp-aniFadein--defo.js-animationItem
          img(src="./assets/img/logo_camp.svg" alt="KINTO CAMPE")
        dl.p-kintocamp-access__data
          dt.p-kintocamp-access__dataHd 開催日時
          dd.p-kintocamp-access__dataTx 2020.10.24（SAT）・25（SUN）
          dt.p-kintocamp-access__dataHd 開催場所
          dd.p-kintocamp-access__dataTx ふもとっぱらキャンプ場（静岡県富士宮市麓156） <a href="https://goo.gl/maps/txmBbSAArcdp4VrG8" target="_blank" class="p-kintocamp-access__linkBlank">google map<img class="p-kintocamp-access__linkBlankImg" src="./assets/img/icn_blank.svg" alt="外部リンク"></a>
    .p-kintocamp-pagination
      a.p-kintocamp-pagination__item.js-pagination__button.is-cursor(href="#top")
        span.p-kintocamp-pagination__item_r
        span.p-kintocamp-pagination__item_l
      a.p-kintocamp-pagination__item.js-pagination__button(href="#ability")
        span.p-kintocamp-pagination__item_r
        span.p-kintocamp-pagination__item_l
      a.p-kintocamp-pagination__item.js-pagination__button(href="#invitation")
        span.p-kintocamp-pagination__item_r
        span.p-kintocamp-pagination__item_l
      a.p-kintocamp-pagination__item.js-pagination__button(href="#access")
        span.p-kintocamp-pagination__item_r
        span.p-kintocamp-pagination__item_l